<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mars- The Red Planet</h1>      
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data</a></p>
    </div>
    <img src="{{mars.image_url}}" alt="Mars">
    <h2>Todays weather on Mars is:</h2>
    <p>{{ mars.mars_weather }}</p>
    
    <h2>In the News: </h2>
    <h3>{{mars.news_title}}</h3>
    <p>{{mars.news_desc}}</p>
    <div>
      <ul style="list-style: none;">
        {% for item in hemi_dict %}
          <li>
            {{item.title}}
            <img src="{{item.url}}">
          </li>
        {% endfor %}
      </ul>
    </div>    
  </div>  
</body>

</html>
